
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

.container{
    max-width: 80rem;
    padding:10rem 8rem ;
    
    
}
a{
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    
}

.menu ul {
    display: flex;
    gap:2rem;
    justify-content: end;

    & li{
        list-style: none;
        
    }
    & li a:hover{
        color: green;
    }
    & li a{
        color: white;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
    }
    & li a::after{
        content: "";
        border-bottom: 2px solid black;
        position: absolute;
        width: 0%;
        bottom: -0.3rem;
        left: 0;
        transition: all .3s linear ;
    }

    & li a:hover::after{
        border-color: red;
        width: 100%;
        
    }

    
}


.hero-section{
    padding-bottom: 5rem ;
   
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    padding: 50px;
    height: 100vh;

    
}

.hero-image{
    display: flex;
    justify-content: center;
}    
.hero-image img{
    border-radius: 50%;
}
.hero-image img:hover{
    transform: scale(1.18);
}
    
    


.hero-grid p{
    
    line-height: 1.5;
    text-transform: capitalize;
}
.hero-grid h1{
    color: blue;
    text-transform: capitalize;
    font-weight: 700;
}

.btn{
    display: inline-block;
    margin: 30px 10px;
    padding: 1rem;
    background-color: green;
    cursor: pointer;
}

.section2-heading{
    /* padding: 4rem ; */
    margin: 2rem 4rem;
    position: relative;
}
.section2{
   /* background:  linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
}

.grid-three-cols{
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 5rem;
    gap: 3rem;
}
.first-cols{
    padding:2rem ;
    text-align: center;
    
}
.first-cols:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.four-cols{ 
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 5rem;
    gap: 3rem;
}

@media ( width <= 700px){
    .navbar{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .hero-grid{
        order: 2;
        text-align: center;
    }
    .hero-image{
        order: 1;
    }
    .grid-three-cols{
        grid-template-columns: repeat(2,1fr);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }
    
    
}

@media ( width<=500){

}

@media ( width <= 576px){
    .navbar{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        padding-bottom:10rem ;
    }
    .hero-grid{
        order: 2;
        text-align: center;
    }
    .hero-image{
        order: 1;
    }
    .grid-three-cols{
        grid-template-columns: repeat(1,1fr);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }
    .four-cols{
        grid-template-columns: repeat(1,1fr);
        text-align: left;
        padding:2rem 0 ;
        
    }
    .skills-cols{
        text-align: left;
    }
}
